# Created by venv; see https://docs.python.org/3/library/venv.html

# .gitignore

# Entorno virtual
venv/
.venv/

# Archivos de entorno (¡El más importante!)
.env

# Cache de Python
__pycache__/
.gitignore